<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>

    <ul>
      <% @results.keys.each do |name| %>
        <li><%= name %></li>
        <ul>
          <% @results[name].each do |hsh| %>
            <li><a href="/chapters/<%= hsh[:number] %>#<%= hsh[:id] %>">
              <%= highlight_match(hsh[:paragraph], params[:query]) %>
            </a></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>
